<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
	Edited on 6/11/2017 ML for PSU SWENG500

	Edited on 6/30/2017 ML -- added script tag to call es_submit.js, added onclick event to submit button
	Edited on 9/6/2017 JH -- Sanitized the form not to reveal proprietary information.
-->
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Emotional State Survey</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />

	</head>



	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">Sense</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/episodesurvey">Episode</a>
						<a href="/adjustmentresponsesurvey">Adjustment Response</a>
						<a href="/emotionalstatesurvey">Emotional State</a>
						<a href="/surveyreports" class="icon fa-lock"> Survey Reports</a>
						<a href="/faq">FAQ</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->


		<section id="main" class="wrapper">
				<div class="inner">               <!-- this div isnt closed, but may not have ever been -->
					<header class="align-center">
						<h2>Emotional State Survey</h2>
						<p>Welcome to the Emotional State Survey </p>
					</header>

				<!-- Content -->
				<!-- ML:edited to reflect the intro for episodes and the emotional state survey -->
					<h2 id="content">Episodes and Emotional State</h2>
					<p>Episodes were defined here to explain to survey respondents about the survey.  The explanations here have been made generic out of respect for other researcher's intellectual property.  The example here is an example of the code we can write, not to infringe on others IP where the respondent entered text. </p>
					<div class="row">
						<div class="6u 12u$(small)">
							<h3>Disorientation</h3>
							<p>Disorientation is experienced when:</p>
							<ul>
											<li>Explanation number 1 from the Psychology Department.</li>
											<li>Example number 2 from the Psychology Department.</li>
											<li>Scenario number 3 from the Psychology Department.</li>
							</ul>
						</div>
						<div class="6u$ 12u$(small)">
							<h3>Extra-cultural Disorientation</h3>
							<p>Extra-cultural disorientation refers to:</p>
							<ul>
											<li>Explanation number 1 from the Psychology Department </li>
											<li>Example number 2 from the Psychology Department</li>
											<li>Scenario number 3 from the Psychology Department</li>
							</ul>
						</div>
					</div>
         <!--       </div>    Most likely place, but it may need to go elsewhere to close  -->
				<hr class="major" />



                    <!-- Form -->
                    <h3>Emotional State Survey Form</h3>

                    <!-- DR - Removed style elements to improve mobile user experience (rendering) -->
                    <form method="get" action="/emotionalstatesurvey">
                        <div class="row uniform">
                            <div class="12u$">
                                <!--<input type="text" name="esname" id="esname" value="" placeholder="Name" style="..."/>-->
                                <input type="text" name="esname" id="esname" value="" placeholder="Name"/>
                            </div>
							<!-- Break -->
                            <div class="12u$">
                                <!--<input type="text" name="usernumber" id="usernumber" value="" placeholder="ID Number" style="..."/>-->
                                <input type="text" name="usernumber" id="usernumber" value="" placeholder="ID Number"/>
                            </div>
                            <!-- Break -->
                            <div class="12u$">
                                <!--<input type="text" name="essurveynumber" id="essurveynumber" value="" placeholder="Survey Number" style="width: 667px"/>-->
                                <input type="text" name="essurveynumber" id="essurveynumber" value="" placeholder="Survey Number"/>
                            </div>
                            <!-- Break -->
                            <div class="12u$">
                                <!--<input type="text" name="esdescription" id="esdescription" value="" placeholder="Survey Description" style="width: 667px"/>-->
                                <input type="text" name="esdescription" id="esdescription" value="" placeholder="Survey Description"/>
                            </div>
                            <!-- Break -->
                           <div class="12u$">
							   <!--<textarea id="esepisode" name="esepisode" placeholder="Enter Episode Description" rows="10" style="..."></textarea>-->
                               <textarea id="esepisode" name="esepisode" placeholder="Enter Episode Description" rows="10"></textarea>
						   </div>

							<!--
                            <div class="12u$">
                                <input type="text" name="esepisode" id="esepisode" value="" placeholder="Enter Episode Description" style="width: 667px; height: 400px;" />
                            </div>
                           -->

                            <!-- Break -->
                            <!-- Break -->
                            <div class="12u$">
                                <ul class="actions">
                                    <li><input type="submit" value="Submit" /></li>
                                    <li><input type="reset" value="Reset" class="alt" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>

                    <hr />



                    <!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>