<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Created by Diego Romero for PSU MSSWENG Cohort-15 Capstone project
	Edited by James Huckestein for PSU MSSWENG Cohort-15 Capstone project
-->
<html>
	<head>
		<title>Episode Survey</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">Sense</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/episodesurvey">Episode</a>
						<a href="/adjustmentresponsesurvey">Adjustment Response</a>
						<a href="/emotionalstatesurvey">Emotional State</a>
                        <a href="/surveyreports" class="icon fa-lock"> Survey Reports</a>
						<a href="/faq">FAQ</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Episode Survey</h2>
					</header>

				<!-- Content -->
					<h2 id="content">Short Survey of an Unordinary, Disorienting, or Unexpected Experience</h2>
					<p>This was an explanation of how to fill out the survey.  The point here is to show what kind of code we can write, not infringe on other's research.</p>
					

				<hr class="major" />

				<form method="get" action="/episodesurvey">




					Please give this episode a short descriptive title: <input type="text" name="title" id="title" value="" placeholder="Title" /><br/>

                    Where were you? (work, school, shopping, in your residence, etc.): <input type="text" name="location" id="location" value="" placeholder="Location" /><br/>

                    What city did this episode occur: <input type="text" name="city" id="city" value="" placeholder="City" /><br/>

                    What country did this episode occur: <input type="text" name="country" id="country" value="" placeholder="Country" /><br/>

                    What date did this episode occur: <input type="text" name="date" id="date" value="" placeholder="Date" /><br/>

                    What is your User Number: <input type="text" name="usernumber" id="usernumber" value="" placeholder="User Number" /><br/>

                    For each item below, check only one response that best describes the episode.<br/>

                    1. Generic question number one for this episode:<br/><br/>
                    <input type="radio" name="one" id="one1" value="No different" /> <label for="one1">No Different</label> <br/>
                    <input type="radio" name="one" id="one2" value="Somewhat atypical, unusual" /> <label for="one2">Somewhat atypical, unusual</label> <br/>
                    <input type="radio" name="one" id="one3" value="Extremely unusual" /> <label for="one3">Extremely unusual</label> <br/>
                    <br/>

                    2. Generic question number two for this episode:<br/><br/>
                    <input type="radio" name="two" id="two1" value="Unfolded exactly" /> <label for="two1">Unfolded exactly</label> <br/>
                    <input type="radio" name="two" id="two2" value="Happened" /> <label for="two2">Happened</label> <br/>
                    <input type="radio" name="two" id="two3" value="Was not" /> <label for="two3">Was not</label> <br/>
                    <br/>

                    3. Generic question number three:<br/><br/>
                    <input type="radio" name="three" id="three1" value="Extremely" /> <label for="three1">Extremely</label> <br/>
                    <input type="radio" name="three" id="three2" value="Somewhat" /> <label for="three2">Somewhat</label> <br/>
                    <input type="radio" name="three" id="three3" value="Not" /> <label for="three3">Not</label> <br/>
                    <br/>

                    4. Generic question number four:<br/><br/>
                    <input type="radio" name="four" id="four1" value="Extremely" /> <label for="four1">Extremely</label> <br/>
                    <input type="radio" name="four" id="four2" value="Moderately" /> <label for="four2">Moderately</label> <br/>
                    <input type="radio" name="four" id="four3" value="Not" /> <label for="four3">Not</label> <br/>
                    <br/>

                    5. Generic question number five:<br/><br/>
                    <input type="radio" name="five" id="five1" value="Consistent" /> <label for="five1">Consistent</label> <br/>
                    <input type="radio" name="five" id="five2" value="Not consistent" /> <label for="five2">Not consistent</label> <br/>
                    <input type="radio" name="five" id="five3" value="Uncomfortably" /> <label for="five3">Uncomfortably</label> <br/>
                    <br/>

                    6. Generic question number six:<br/><br/>
                    <input type="radio" name="six" id="six1" value="Very much so/almost entirely (90-100%)" /> <label for="six1">Very much so/almost entirely (90-100%)</label> <br/>
                    <input type="radio" name="six" id="six2" value="Quite a bit (75-90%)" /> <label for="six2">Quite a bit (75-90%)</label> <br/>
                    <input type="radio" name="six" id="six3" value="More than half (50-75%)" /> <label for="six3">More than half (50-75%)</label> <br/>
                    <input type="radio" name="six" id="six4" value="Relevant (35-50%)" /> <label for="six4">Relevant (35-50%)</label> <br/>
                    <input type="radio" name="six" id="six5" value="Somewhat (15-24%)" /> <label for="six5">Somewhat (15-24%)</label> <br/>
                    <input type="radio" name="six" id="six6" value="Slightly / just a little (5-10%)" /> <label for="six6">Slightly / just a little (5-10%)</label> <br/>
                    <input type="radio" name="six" id="six7" value="Not at all (0%)" /> <label for="six7">Not at all (0%)</label> <br/>
                    <br/>
                    How did you respond during this episode?  Circle the number between 0 and 6 that best describes your responses to the episode, where zero means "not at all" and 6 means "to a great extent."<br/>

                    7. Generic question number seven:<br/><br/>
                    <input type="radio" name="seven" id="seven1" value="0" /> <label for="seven1">Not at all - 0</label> <br/>
                    <input type="radio" name="seven" id="seven2" value="1" /> <label for="seven2">Very Little - 1</label> <br/>
                    <input type="radio" name="seven" id="seven3" value="2" /> <label for="seven3">2</label> <br/>
                    <input type="radio" name="seven" id="seven4" value="3" /> <label for="seven4">3</label> <br/>
                    <input type="radio" name="seven" id="seven5" value="4" /> <label for="seven5">4</label> <br/>
                    <input type="radio" name="seven" id="seven6" value="5" /> <label for="seven6">5</label> <br/>
                    <input type="radio" name="seven" id="seven7" value="6" /> <label for="seven7">To a great extent - 6</label> <br/>
                    <br/>

                    8. Generic question number eight.<br/><br/>
                    <input type="radio" name="eight" id="eight1" value="0" /> <label for="eight1">Not at all - 0</label> <br/>
                    <input type="radio" name="eight" id="eight2" value="1" /> <label for="eight2">Very Little - 1</label> <br/>
                    <input type="radio" name="eight" id="eight3" value="2" /> <label for="eight3">2</label> <br/>
                    <input type="radio" name="eight" id="eight4" value="3" /> <label for="eight4">3</label> <br/>
                    <input type="radio" name="eight" id="eight5" value="4" /> <label for="eight5">4</label> <br/>
                    <input type="radio" name="eight" id="eight6" value="5" /> <label for="eight6">5</label> <br/>
                    <input type="radio" name="eight" id="eight7" value="6" /> <label for="eight7">To a great extent - 6</label> <br/>
                    <br/>

                    9. Generic question number nine.<br/><br/>
                    <input type="radio" name="nine" id="nine1" value="0" /> <label for="nine1">Not at all - 0</label> <br/>
                    <input type="radio" name="nine" id="nine2" value="1" /> <label for="nine2">Very Little - 1</label> <br/>
                    <input type="radio" name="nine" id="nine3" value="2" /> <label for="nine3">2</label> <br/>
                    <input type="radio" name="nine" id="nine4" value="3" /> <label for="nine4">3</label> <br/>
                    <input type="radio" name="nine" id="nine5" value="4" /> <label for="nine5">4</label> <br/>
                    <input type="radio" name="nine" id="nine6" value="5" /> <label for="nine6">5</label> <br/>
                    <input type="radio" name="nine" id="nine7" value="6" /> <label for="nine7">To a great extent - 6</label> <br/>
                    <br/>

                    10. Generic question number ten. <br/>
                    <input type="radio" name="ten" id="ten1" value="0" /> <label for="ten1">Not at all - 0</label> <br/>
                    <input type="radio" name="ten" id="ten2" value="1" /> <label for="ten2">Very Little - 1</label> <br/>
                    <input type="radio" name="ten" id="ten3" value="2" /> <label for="ten3">2</label> <br/>
                    <input type="radio" name="ten" id="ten4" value="3" /> <label for="ten4">3</label> <br/>
                    <input type="radio" name="ten" id="ten5" value="4" /> <label for="ten5">4</label> <br/>
                    <input type="radio" name="ten" id="ten6" value="5" /> <label for="ten6">5</label> <br/>
                    <input type="radio" name="ten" id="ten7" value="6" /> <label for="ten7">To a great extent -6</label> <br/>
                    <br/>

                    11. Generic question number eleven. <br/><br/>
                    <input type="radio" name="eleven" id="eleven1" value="0" /> <label for="eleven1">Not at all - 0</label> <br/>
                    <input type="radio" name="eleven" id="eleven2" value="1" /> <label for="eleven2">Very Little - 1</label> <br/>
                    <input type="radio" name="eleven" id="eleven3" value="2" /> <label for="eleven3">2</label> <br/>
                    <input type="radio" name="eleven" id="eleven4" value="3" /> <label for="eleven4">3</label> <br/>
                    <input type="radio" name="eleven" id="eleven5" value="4" /> <label for="eleven5">4</label> <br/>
                    <input type="radio" name="eleven" id="eleven6" value="5" /> <label for="eleven6">5</label> <br/>
                    <input type="radio" name="eleven" id="eleven7" value="6" /> <label for="eleven7">To a great extent - 6</label> <br/>
                    <br/>

                    12. Generic question number twelve. <br/><br/>
                    <input type="radio" name="twelve" id="twelve1" value="0" /> <label for="twelve1">Not at all - 0</label> <br/>
                    <input type="radio" name="twelve" id="twelve2" value="1" /> <label for="twelve2">Very Little - 1</label> <br/>
                    <input type="radio" name="twelve" id="twelve3" value="2" /> <label for="twelve3">2</label> <br/>
                    <input type="radio" name="twelve" id="twelve4" value="3" /> <label for="twelve4">3</label> <br/>
                    <input type="radio" name="twelve" id="twelve5" value="4" /> <label for="twelve5">4</label> <br/>
                    <input type="radio" name="twelve" id="twelve6" value="5" /> <label for="twelve6">5</label> <br/>
                    <input type="radio" name="twelve" id="twelve7" value="6" /> <label for="twelve7">To a great extent - 6</label> <br/>
                    <br/>

                    13. Generic question number thirteen. <br/><br/>
                    <input type="radio" name="thirteen" id="thirteen1" value="0" /> <label for="thirteen1">Not at all - 0</label> <br/>
                    <input type="radio" name="thirteen" id="thirteen2" value="1" /> <label for="thirteen2">Very Little - 1</label> <br/>
                    <input type="radio" name="thirteen" id="thirteen3" value="2" /> <label for="thirteen3">2</label> <br/>
                    <input type="radio" name="thirteen" id="thirteen4" value="3" /> <label for="thirteen4">3</label> <br/>
                    <input type="radio" name="thirteen" id="thirteen5" value="4" /> <label for="thirteen5">4</label> <br/>
                    <input type="radio" name="thirteen" id="thirteen6" value="5" /> <label for="thirteen6">5</label> <br/>
                    <input type="radio" name="thirteen" id="thirteen7" value="6" /> <label for="thirteen7">To a great extent - 6</label> <br/>
                    <br/>

                    14. Generic question number fourteen. <br/><br/>
                    <input type="radio" name="fourteen" id="fourteen1" value="0" /> <label for="fourteen1">Not at all - 0</label> <br/>
                    <input type="radio" name="fourteen" id="fourteen2" value="1" /> <label for="fourteen2">Very Little - 1</label> <br/>
                    <input type="radio" name="fourteen" id="fourteen3" value="2" /> <label for="fourteen3">2</label> <br/>
                    <input type="radio" name="fourteen" id="fourteen4" value="3" /> <label for="fourteen4">3</label> <br/>
                    <input type="radio" name="fourteen" id="fourteen5" value="4" /> <label for="fourteen5">4</label> <br/>
                    <input type="radio" name="fourteen" id="fourteen6" value="5" /> <label for="fourteen6">5</label> <br/>
                    <input type="radio" name="fourteen" id="fourteen7" value="6" /> <label for="fourteen7">To a great extent - 6</label> <br/>
                    <br/>

                    15. Generic question number fifteen. <br/><br/>
                    <input type="radio" name="fifteen" id="fifteen1" value="0" /> <label for="fifteen1">Not at all - 0</label> <br/>
                    <input type="radio" name="fifteen" id="fifteen2" value="1" /> <label for="fifteen2">Very Little - 1</label> <br/>
                    <input type="radio" name="fifteen" id="fifteen3" value="2" /> <label for="fifteen3">2</label> <br/>
                    <input type="radio" name="fifteen" id="fifteen4" value="3" /> <label for="fifteen4">3</label> <br/>
                    <input type="radio" name="fifteen" id="fifteen5" value="4" /> <label for="fifteen5">4</label> <br/>
                    <input type="radio" name="fifteen" id="fifteen6" value="5" /> <label for="fifteen6">5</label> <br/>
                    <input type="radio" name="fifteen" id="fifteen7" value="6" /> <label for="fifteen7">To a great extent - 6</label> <br/>
                    <br/>

                    16. Generic question number sixteen. <br/><br/>
                    <input type="radio" name="sixteen" id="sixteen1" value="0" /> <label for="sixteen1">Not at all - 0</label> <br/>
                    <input type="radio" name="sixteen" id="sixteen2" value="1" /> <label for="sixteen2">Very Little - 1</label> <br/>
                    <input type="radio" name="sixteen" id="sixteen3" value="2" /> <label for="sixteen3">2</label> <br/>
                    <input type="radio" name="sixteen" id="sixteen4" value="3" /> <label for="sixteen4">3</label> <br/>
                    <input type="radio" name="sixteen" id="sixteen5" value="4" /> <label for="sixteen5">4</label> <br/>
                    <input type="radio" name="sixteen" id="sixteen6" value="5" /> <label for="sixteen6">5</label> <br/>
                    <input type="radio" name="sixteen" id="sixteen7" value="6" /> <label for="sixteen7">To a great extent - 6</label> <br/>
                    <br/>

					<input type="submit" value="Submit" />


				</form>

                    <!-- Footer -->
                    <footer id="footer">
                        <div class="inner">
                            <div class="flex">
                                <div class="copyright">
                                    &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
                                </div>
                                <ul class="icons">
                                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                    <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                                    <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                                    <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </footer>

                    <!-- Scripts -->
                    <script src="assets/js/jquery.min.js"></script>
                    <script src="assets/js/skel.min.js"></script>
                    <script src="assets/js/util.js"></script>
                    <script src="assets/js/main.js"></script>


	</body>
</html>